[package]
name = "bit-twiddling-helpers"
version = "0.1.0"
authors.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
zerocopy = { workspace = true }

[lints]
workspace = true
